.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
.cursor--dot {
  width: 4px;
  height: 4px;
  left: -3px;
  top: -3px;
  visibility: hidden;
  border-radius: 100%;
  z-index: 1;
  background: hsl(0, 0%, 0%);
}
